div[class^="i"]{
    border: 2px solid silver;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(520px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    font-family: sans-serif;
    grid-gap: 10px;
    justify-content: center;
    padding-bottom: 150px;
}

.errorbody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.title{
    background-color: #546de5;
    border-radius: 20px;
    color: white;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height:40px;
    font-size: 20px;
    font-weight: bold;
}
.text{
 margin-top: 10px;
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 word-break: break-all;
}
.photo{
    margin: 10px 0;

}
.photo img[src^="https://vk.com/doc"]{
    max-width: 510px;
}
body>div:nth-child(1){
    display: none;
}
body>div:last-child{
    position: relative;
}
body>div:last-child::after{
    content: '↓ Load more ↓';
    position: absolute;
    top: calc(100% + 30px);
    right: 50%;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(200, 200,255, .6);
    border-radius: 20px;
    padding: 10px;
}
body>div.load-active:last-child::after{
    content: url(https://ангаралес.рф/3dnew/preloader.gif);
    background: url(https://ангаралес.рф/3dnew/preloader.gif);
    top: calc(100% - 60px);
}
.none-display{
    display: none;
}
@media (max-width: 1150px){
    body{
        grid-template-columns: 1fr;
    }
    body>div:last-child::after{
        right: 0%
    }
}